html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  height: 100%;
  font-size: 12pt;
}

#top {
  height: 56px;
  /*background-color: #BDBDBD;*/
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: fixed;
  width: 100%;
  z-index: 1;
}

#profile_img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 8px;
}

#profile_img img {
  width: 100%;
  border-radius: 50%;
}

#name {
  float: left;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 16px;

}

#status {
  font-size: 12pt;
  font-weight: normal;
  color: #767676;
}

#input_message {
  width: 100%;
  background-color: #C42E51;
  height: 56px;
  position: fixed;
  bottom: 0px;
}

#input_mc {
  display: none;
  width: calc(100vw - 88px);
  margin-left: 16px;
  height: 32px;
  margin-top: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  align-items: stretch;
}

.input_mc_button {
  background-color: #F6F6F6;
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 6px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}

.input_mc_button_selected {
  background-color: #FFB1C3;
}

#input_list {
  display: none;
  width: calc(100vw - 75px);
  height: 32px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  justify-content: center;
}

#input_select_number {
  width: 32px;
  margin-right: 14px;
}

#input_select {
  max-width: 194px;
}

#input_field {
  background-color: #F6F6F6;
  border-radius: 4px;
  width: calc(100vw - 96px);
  margin-left: 16px;
  height: 32px;
  margin-top: 8px;
  overflow-y: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
}

#input_field[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

#send_icon {
  float: left;
  color: #ffffff;
  font-size: 20pt;
  margin-top: 12px;
  margin-left: 12px;
  cursor: pointer;
}

#messages {
  /*overflow-y: auto;*/
  padding-top: 56px;
  padding-bottom: 128px;
  width: 100%;
  float: left;
}

.bubble_container {
  width: 100%;
  float: left;
}

.bubble_1 {
  max-width: 80%;
  margin-right: 24px;
  margin-top: 24px;
  float: right;
}

.bubble_1_content {
  background-color: #C42E51;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  line-height: 20pt;
}

.bubble_1_tail {
  width: 100%;
  text-align: right;
  margin-top: -4px;
  position: relative;
  z-index: 0;
}

.bubble_1_tail svg {
  width: 16px;
}

.bubble_2_img {
  margin-left: 8px;
  margin-top: 18px;
  float: left;
}

.bubble_2_img img {
  border-radius: 50%;
  width: 24px;
}

.bubble_2 {
  max-width: 80%;
  margin-left: 8px;
  margin-top: 24px;
  float: left;
}

.bubble_2_content {
  background-color: #5F5F5F;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  line-height: 20pt;
}

.bubble_2_tail {
  width: 100%;
  text-align: left;
}

.bubble_2_tail svg {
  width: 16px;
  margin-bottom: -8px;
}

#typing {
  display: none;
  position: relative;
  /*margin-bottom: 24px;*/
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
