<div id="top_bar">
  <a href="/login/" id="logo"><img src="/editor/img/tilbot_logo.svg" alt="Tilbot logo - click to go to dashboard" /></a>

  <div id="project_title">{{name}}</div>
  <i id="btn_edit_title" class="fas fa-pencil"></i>
  <i id="btn_save_title" class="fas fa-check"></i>

  <div id="breadcrumbs">
    Yooo
  </div>

  <div id="controls">
    <div id="btn_export">
      <i class="fa-regular fa-save"></i>
      <div class="btn_text">Export</div>
    </div>
    <div id="btn_import">
      <i class="fa-regular fa-folder-open"></i>
      <div class="btn_text">Import</div>
    </div>

    <div id="btn_run_all">
      <i class="fa-solid fa-circle-play"></i>
      <div class="btn_text">Run from start</div>
    </div>
    <div id="btn_run_selected">
      <i class="fa-regular fa-circle-play"></i>
      <div class="btn_text">Run from selected</div>
    </div>

  </div>
</div>

<div id="editor_panel">
  <div id="editor_panel_gradient">
  </div>

  <svg id="connector_lines">

  </svg>
</div>

<div id="new_block_button">
    +
</div>

<div id="overlay">
</div>

<div id="hiddenfile">
  <input name="upload" type="file" id="jsonfileinput" />
</div>
