<div class="bubble_container">
  <div class="bubble_2_img">
    <img src="/client/img/default_profile.svg" />
  </div>
  <div class="bubble_2">
    <div class="bubble_2_tail">
      <svg width="100%" height="100%" viewBox="0 0 43 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
          <g transform="matrix(-1,0,0,-1,735.821,408.315)">
              <path d="M693.625,362.934L726.211,362.947L736.031,408.31L693.625,362.934Z" style="fill:rgb(95,95,95);"/>
          </g>
      </svg>
    </div>
    <div class="bubble_2_content">
      {{{msg}}}
    </div>
  </div>
</div>
